html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

body{
    display:flex;
    flex-direction: column;
}

.header{
    font-size: 2rem;
    padding: 1rem;
    background-color: gray;
}

.side-nav{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content{
    display: flex;
    flex-grow: 1;
}

.task-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.task{
    background-color: green;
    min-width: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;

}

form{
    margin: 0;
    padding: 0.5rem;
    gap: 0.5rem;
    display:flex;
    flex-direction: column;
}

.project-btns{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button{
    border: 0;
    margin: 0;
    padding: 0.5rem;
}

button:hover{
    background-color: brown;
}

#add-task{
    margin-left: 0.5rem;
}

.footer{
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}